/* Sidebar */

.admin-sidebar {
    margin-top: 50px;
}

.admin-sidebar-item {
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
}

.admin-sidebar-item a {
    color: #79bcb5;
}

.admin-sidebar-item a:hover {
    color: #e54e53;
    transition-duration: .5s;
}

.admin-table-container .table-button {
    border: none;
    color: #B95933;
    margin: 0 5px;
}
.admin-table-container .table-button:hover {
    border: none;
    color: #D7753C;
    margin: 0 5px;
}

/* General */

.admin-table-container {
    margin-top: 30px;
}

.admin-table-container h1 {
    text-align: center;
    font-size: 30px;
    margin: 15px 0;
}

.add-button {
    color: chartreuse !important;
}

.center-column {
    text-align: center;
}

.btn-modal {
    background-color: #B95933;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-bottom: 0px;
    border-top: 0px;
}
.btn-modal:hover {
    background-color: #D7753C;
    color: white;

}
