{% extends 'application_layout.html' %}

{% block title %}
  Panel de Administración | Préstamos y Reservas
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
  {% include '_sidebar.html' %}
	<div class="col-md-10">
    <div class="row">

        <div class="col-6 offset-3 schedule-current-week" style="text-align: center;">
          <div class="alert alert-info">
            <p>Estás viendo la semana del lunes <b>{{ actual_monday }}</b></p>
          </div>
        </div>


        {% include '_schedule_landing.html' %}

    </div>
    <div class="row">
      <div class="col-md-6 admin-table-container">
        <h1>Reservas Pendientes</h1>
        <form action="{% url 'modify_reservations' %}" method="post">
        {% csrf_token %}
        <table id="reservations-table" class="table table-striped table-bordered">

          <thead>
          <tr>
            <th scope="col" style="width: 14%"> ID </th>
            <th scope="col">Espacio</th>
            <th scope="col">Usuario</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha final</th>
          </tr>
          </thead>
          <tbody>

          {% for reservation in reservations_query %}
          <tr>
            <td><input type="checkbox" name="selected" value="{{ reservation.id }}"> {{ reservation.id }}</td>
            <td class="not-center-td">{{ reservation.space.name }}</td>
            <td class="not-center-td">{{ reservation.user.get_full_name }}</td>
            <td>{{ reservation.starting_date_time }}</td>
            <td>{{ reservation.ending_date_time }}</td>
          </tr>
          {% endfor %}

          </tbody>
        </table>
        <div class="row">
            <button name="accept" value="1" type="submit"> Aceptar Reservas</button>
            <button name="accept" value="0" type="submit"> Rechazar Reservas</button>
        </div>
        </form>
      </div>


      <div class="col-md-6 admin-table-container">
        <h1>Préstamos</h1>
      <div class="row">
          <form action="" method="get">
              <input type="hidden" name="date" value="{{ current_date }}">
          <div class="btn-group" role="group" aria-label="Basic example" style="margin: 10px auto;">
            <button name = "filter" value="todos" type="submit" class="btn btn-secondary">Todos</button>
              <button name = "filter" value="vigentes" type="submit" class="btn btn-secondary">Vigentes</button>
            <button name = "filter" value="caducados" type="submit" class="btn btn-secondary">Caducados</button>
            <button name = "filter" value ="perdidos" type="submit" class="btn btn-secondary">Perdidos</button>
            </div>
          </form>
      </div>
      <form action="{% url 'modify_loans' %}" method="post">
        {% csrf_token %}
        <table id="loans-table" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th scope="col" style="width: 14%">ID</th>
            <th scope="col">Artículo</th>
            <th scope="col">Usuario</th>
            <th scope="col">Fecha de Prestamo</th>
              <th scope="col">Estado</th>
          </tr>
          </thead>
          <tbody>
          {% for loan in loans %}
          <tr>
            <td><input type="checkbox" name="selected-loan" value="{{ loan.id }}"
                    {% if loan.state == 'R' %} disabled
                    {% elif loan.state == 'A' %} disabled
                    {% elif loan.state == 'P' %} disabled
                    {% elif loan.state == 'Re' %} disabled
                    {% elif loan.state == 'Pe' %} disabled
                    {% endif %}> {{ loan.id }}</td>
            <td class="not-center-td">{{ loan.article.name }}</td>
            <td class="not-center-td">{{ loan.user.get_full_name }}</td>
            <td>{{ loan.starting_date_time }}</td>
          <td>{{ loan.get_state_display }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      <div class="row">
            <button name="received" value="1" type="submit"> Préstamo Recibido</button>
          <button name="received" value="0" type="submit"> Préstamo Perdido</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
{% block scripts %}
    <script>
    // No permite submits de formularios invalidos
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Busca todos los formularios a los que les queremos aplicar validacion
            var forms = document.getElementsByClassName('needs-validation');
            // Loopea sobre ellos y no permite submit si no está todo validado
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                    }, false);
            });
            }, false);
    })();
    </script>
    <script>
    // activa tooltips
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <script type="text/javascript">
        if({{modalState}}){
            document.getElementById("boton").click();
        }
    </script>
    {% load static %}
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
    <script>
        var array = [];
    </script>
    <script>
        var hora_ini =[];
        var hora_fin =[];
        var dias = []
        $('#parse').click(function(){
            var i;
            for(i = 0; i < array.length; i++){
                hora_ini.push(array[i].attr('data-start'));
                hora_fin.push(array[i].attr('data-end'));
                dias.push(array[i].attr('id').substr(0, array[i].attr('id').length) - 8);
            }
            alert(hora_ini[0]);
            document.getElementById("hiddenini").value = hora_ini[0];
            document.getElementById("hiddenfin").value = hora_fin[hora_fin.length -1];
            document.getElementById("hiddendia").value = dias[0];
            //$('form').submit()
        });
    </script>
    <script>
        $('#Lunes09000930').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes09301000').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes10001030').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes10301100').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes11001130').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes11301200').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes12001230').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes12301300').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes13001330').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes13301400').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes14001430').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes14301500').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes15001530').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes15301600').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes16001630').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes16301700').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes17001730').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Lunes17301800').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>

    <!-- Martes -->
    <script>
        $('#Martes09000930').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes09301000').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes10001030').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes10301100').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes11001130').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes11301200').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes12001230').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes12301300').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes13001330').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes13301400').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes14001430').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes14301500').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes15001530').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes15301600').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes16001630').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes16301700').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes17001730').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Martes17301800').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>

    <!-- Miercoles -->
    <script>
        $('#Miercoles09000930').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles09301000').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles10001030').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles10301100').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles11001130').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles11301200').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles12001230').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles12301300').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles13001330').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles13301400').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles14001430').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles14301500').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles15001530').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles15301600').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles16001630').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles16301700').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles17001730').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Miercoles17301800').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>

    <!-- Jueves -->
    <script>
        $('#Jueves09000930').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves09301000').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves10001030').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves10301100').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves11001130').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves11301200').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves12001230').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves12301300').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves13001330').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves13301400').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves14001430').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves14301500').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves15001530').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves15301600').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves16001630').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves16301700').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves17001730').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Jueves17301800').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>

    <!-- Viernes -->
    <script>
        $('#Viernes09000930').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes09301000').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes10001030').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes10301100').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes11001130').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes11301200').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes12001230').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes12301300').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes13001330').click(function () {

           $(this).toggleClass('clicked');
           array.push($(this));
        });
    </script>
    <script>
        $('#Viernes13301400').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes14001430').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes14301500').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes15001530').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes15301600').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes16001630').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes16301700').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes17001730').click(function () {

            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
    <script>
        $('#Viernes17301800').click(function () {
            $(this).toggleClass('clicked');
            array.push($(this));
        });
    </script>
{% endblock %}
