{% extends 'application_layout.html' %}

{% load static %}

{% block title %}
  Ficha del espacio: {{ space.name }}
{% endblock %}

{% block body %}
    <div class="container">
        <h2>
            Ficha
        </h2>
        <div class="row">
            <div class="col col-lg-5">
                {% if admin == 0 %}
            <table class="table">
                <tr>
                    <td>Nombre:</td>
                    <td>{{ space.name }}</td>
                </tr>
                <tr>
                    <td>Foto:</td>
                    <td>{% if space.image %}
                                <img src=" {% static space.image.url %}"
                                     class="img-fluid"
                                     alt="Foto"
                                     style="max-height: 300px"/>
                            {% else %}
                                <img class="card-img-top img-fluid"
                                     src="{% static 'img/items/default_article.jpg' %}"
                                     alt="Card image cap">
                            {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Capacidad:</td>
                    <td>{{ space.capacidad }}</td>
                </tr>
                <tr>
                    <td>Descripción:</td>
                    <td>{{ space.description }}</td>
                </tr>
                <tr>
                    <td>Estado:</td>
                    <td>{% if space.state == 'D' %} Disponible {% elif space.state == 'P' %} En préstamo {% else %} En reparación {% endif %}</td>
                </tr>
            </table>
        {% else %}
            <form action="{% url 'update_space' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ space.id }}" name="id"/>
            <table class="table">
                <tr>
                    <td>Nombre:</td>
                    <td><input type="text" size="32" value="{{ space.name }}" name="name" style="width: 100%"/></td>
                </tr>
                <tr>
                    <td>Foto:</td>
                    <td>{% if space.image %}
                                <img src=" {% static space.image.url %}"
                                     class="img-fluid"
                                     alt="Foto"
                                     style="max-height: 300px"/>
                            {% else %}
                                <img class="card-img-top img-fluid"
                                     src="{% static 'img/items/default_article.jpg' %}"
                                     alt="Card image cap">
                            {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Capacidad:</td>
                    <td><input type="text" size="32" value="{{ space.capacidad }}" name="capacidad" style="width: 100%"/></td>
                </tr>
                <tr>
                    <td>Descripción:</td>
                    <td><textarea name='description' style="width: 100%">{{ space.description }}</textarea></td>
                </tr>
                <tr>
                    <td>Estado:</td>

                    <td><input type="radio" name="status" value="D" {% if space.state == 'D' %}checked{% endif %}> Disponible<br>
                            <input type="radio" name="status" value="P" {% if space.state == 'P' %}checked{% endif %}> En Préstamo<br>
                            <input type="radio" name="status" value="R" {% if space.state == 'R' %}checked{% endif %}> En Reparación<br>
                             </td>
                </tr>
            <tr><td></td>
            <td><button type="submit" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm"> Actualizar Datos</button></td></tr>
            </table>

            </form>
        {% endif %}
            </div>
            <div class="col">

                    <div class="col-6 offset-3 schedule-current-week" style="text-align: center;">
                      <div class="alert alert-info">
                        <p>Estás viendo la semana del lunes <b>{{ actual_monday }}</b></p>
                      </div>
                    </div>

                <div class="cd-schedule loading">
                    <div class="timeline" id="timeline">
                        <ul>
                            <li><span>09:00</span></li>
                            <li><span>09:30</span></li>
                            <li><span>10:00</span></li>
                            <li><span>10:30</span></li>
                            <li><span>11:00</span></li>
                            <li><span>11:30</span></li>
                            <li><span>12:00</span></li>
                            <li><span>12:30</span></li>
                            <li><span>13:00</span></li>
                            <li><span>13:30</span></li>
                            <li><span>14:00</span></li>
                            <li><span>14:30</span></li>
                            <li><span>15:00</span></li>
                            <li><span>15:30</span></li>
                            <li><span>16:00</span></li>
                            <li><span>16:30</span></li>
                            <li><span>17:00</span></li>
                            <li><span>17:30</span></li>
                            <li><span>18:00</span></li>
                        </ul>
                    </div> <!-- .timeline -->
                    <div id="line-container" class="line-container">
                    <div id="line" class="clock"></div><div class="message" id="message"></div>
                        </div>
                    <div class="events" id="events">
                        <ul>
                            <li class="events-group">
                                <div class="top-info"><span>Lunes</span></div>

                                <ul>
                                    {% for r in reservations.0 %}

                                    <li class="single-event" data-start="{{r.1}}" data-end="{{r.2}}" bgcolor="{{r.3}}">
                                        <a href="">
                                            <em class="event-name">{{r.0}}</em>
                                        </a>
                                    </li>

                                    {% endfor%}

                                </ul>
                            </li>

                            <li class="events-group">
                                <div class="top-info"><span>Martes</span></div>

                                <ul>

                                    {% for r in reservations.1 %}

                                    <li class="single-event" data-start="{{r.1}}" data-end="{{r.2}}" bgcolor="{{r.3}}">
                                        <a href="">
                                            <em class="event-name">{{r.0}}</em>
                                        </a>
                                    </li>

                                    {% endfor%}
                                </ul>
                            </li>

                            <li class="events-group">
                                <div class="top-info"><span>Miércoles</span></div>

                                <ul>
                                    {% for r in reservations.2 %}

                                    <li class="single-event" data-start="{{r.1}}" data-end="{{r.2}}" bgcolor="{{r.3}}" >
                                        <a href="">
                                            <em class="event-name">{{r.0}}</em>
                                        </a>
                                    </li>

                                    {% endfor%}
                                </ul>
                            </li>

                            <li class="events-group">
                                <div class="top-info"><span>Jueves</span></div>

                                <ul>
                                    {% for r in reservations.3 %}

                                    <li class="single-event" data-start="{{r.1}}" data-end="{{r.2}}"  bgcolor="{{r.3}}">
                                        <a href="">
                                            <em class="event-name">{{r.0}}</em>
                                        </a>
                                    </li>

                                    {% endfor%}
                                </ul>
                            </li>

                            <li class="events-group">
                                <div class="top-info"><span>Viernes</span></div>

                                <ul>
                                    {% for r in reservations.4 %}

                                    <li class="single-event" data-start="{{r.1}}" data-end="{{r.2}}" bgcolor="{{r.3}}">
                                        <a href="">
                                            <em class="event-name">{{r.0}}</em>
                                        </a>
                                    </li>

                                    {% endfor%}
                                </ul>
                            </li>
                        </ul>

                    </div>



                    <div class="week-select" id="week-select">
                        <div style="text-align: center; margin-right: auto; margin-left: auto; width: 200px; font-size: 18px">
                            <form action="" method="get" class="selectform">
                                <a href="?date={{controls.0}}" role="button"><i class="fas fa-angle-double-left"></i></a>
                            </form>
                            <form action="" method="get" class="selectform">
                                <a href="?date={{controls.1}}" role="button"><i class="fas fa-angle-left"></i></a>
                            </form>
                            <form action="" method="get" class="selectform">
                                <a href="?date={{controls.2}}" role="button"><i class="fas fa-angle-right"></i></a>
                            </form>
                            <form action="" method="get" class="selectform">
                                <a href="?date={{controls.3}}" role="button"><i class="fas fa-angle-double-right"></i></a>
                            </form>
                        </div>

                    </div>
                    <div class="event-modal">
                        <header class="header">
                            <div class="content">
                                <span class="event-date"></span>
                                <h3 class="event-name"></h3>
                            </div>

                            <div class="header-bg"></div>
                        </header>

                        <div class="body">
                            <div class="event-info"></div>
                            <div class="body-bg"></div>
                        </div>

                        <a href="#0" class="close">Close</a>
                    </div>

                    <div class="cover-layer"></div>
                </div> <!-- .cd-schedule -->
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        {# Check update and send alert #}
        if (window.location.search.substring(1).split("&")[0].split("=")[1] === "True"){
            alert('Articulo Actualizado!')
        }
    </script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
{% endblock %}