<div class="cd-schedule loading">
	<div class="timeline" id="timeline">
		<ul>
			<li><span>09:00</span></li>
			<li><span>09:30</span></li>
			<li><span>10:00</span></li>
			<li><span>10:30</span></li>
			<li><span>11:00</span></li>
			<li><span>11:30</span></li>
			<li><span>12:00</span></li>
			<li><span>12:30</span></li>
			<li><span>13:00</span></li>
			<li><span>13:30</span></li>
			<li><span>14:00</span></li>
			<li><span>14:30</span></li>
			<li><span>15:00</span></li>
			<li><span>15:30</span></li>
			<li><span>16:00</span></li>
			<li><span>16:30</span></li>
			<li><span>17:00</span></li>
			<li><span>17:30</span></li>
			<li><span>18:00</span></li>
		</ul>
	</div> <!-- .timeline -->
	<div id="line-container" class="line-container">
	<div id="line" class="clock"></div><div class="message" id="message"></div>
		</div>
	<div class="events" id="events">
        <form method="get" action="{% url 'search' %}">
            <ul>
                <li class="events-group">
                    <div class="top-info"><span>Lunes</span></div>

                    <ul id="Lunes">
                        {% for r in reservations.0 %}

                        <li class="single-event" data-start="{{r.1}}" data-end="{{r.2}}" bgcolor="{{r.3}}">
                            <a href="">
                                <em class="event-name">{{r.0}}</em>
                            </a>
                        </li>

                        {% endfor%}
                        <li class="single-event" id='Lunes09000930' data-start="09:00" data-end="09:30" style="border-style: none"></li>
                        <li class="single-event" id="Lunes09301000" data-start="09:30" data-end="10:00" style="border-style: none"></li>
                        <li class="single-event" id='Lunes10001030' data-start="10:00" data-end="10:30" style="border-style: none"></li>
                        <li class="single-event" id='Lunes10301100' data-start="10:30" data-end="11:00" style="border-style: none"></li>
                        <li class="single-event" id='Lunes11001130' data-start="11:00" data-end="11:30" style="border-style: none"></li>
                        <li class="single-event" id='Lunes11301200' data-start="11:30" data-end="12:00" style="border-style: none"></li>
                        <li class="single-event" id='Lunes12001230' data-start="12:00" data-end="12:30" style="border-style: none"></li>
                        <li class="single-event" id='Lunes12301300' data-start="12:30" data-end="13:00" style="border-style: none"></li>
                        <li class="single-event" id='Lunes13001330' data-start="13:00" data-end="13:30" style="border-style: none"></li>
                        <li class="single-event" id='Lunes13301400' data-start="13:30" data-end="14:00" style="border-style: none"></li>
                        <li class="single-event" id='Lunes14001430' data-start="14:00" data-end="14:30" style="border-style: none"></li>
                        <li class="single-event" id='Lunes14301500' data-start="14:30" data-end="15:00" style="border-style: none"></li>
                        <li class="single-event" id='Lunes15001530' data-start="15:00" data-end="15:30" style="border-style: none"></li>
                        <li class="single-event" id='Lunes15301600' data-start="15:30" data-end="16:00" style="border-style: none"></li>
                        <li class="single-event" id='Lunes16001630' data-start="16:00" data-end="16:30" style="border-style: none"></li>
                        <li class="single-event" id='Lunes16301700' data-start="16:30" data-end="17:00" style="border-style: none"></li>
                        <li class="single-event" id='Lunes17001730' data-start="17:00" data-end="17:30" style="border-style: none"></li>
                        <li class="single-event" id='Lunes17301800' data-start="17:30" data-end="18:00" style="border-style: none"></li>

                    </ul>
                </li>

                <li class="events-group">
                    <div class="top-info"><span>Martes</span></div>

                    <ul id="Martes">

                        {% for r in reservations.1 %}

                        <li class="single-event" data-start="{{r.1}}" data-end="{{r.2}}" bgcolor="{{r.3}}">
                            <a href="">
                                <em class="event-name">{{r.0}}</em>
                            </a>
                        </li>

                        {% endfor%}
                        <li class="single-event" id='Martes09000930' data-start="09:00" data-end="09:30" style="border-style: none"></li>
                        <li class="single-event" id='Martes09301000' data-start="09:30" data-end="10:00" style="border-style: none"></li>
                        <li class="single-event" id='Martes10001030' data-start="10:00" data-end="10:30" style="border-style: none"></li>
                        <li class="single-event" id='Martes10301100' data-start="10:30" data-end="11:00" style="border-style: none"></li>
                        <li class="single-event" id='Martes11001130' data-start="11:00" data-end="11:30" style="border-style: none"></li>
                        <li class="single-event" id='Martes11301200' data-start="11:30" data-end="12:00" style="border-style: none"></li>
                        <li class="single-event" id='Martes12001230' data-start="12:00" data-end="12:30" style="border-style: none"></li>
                        <li class="single-event" id='Martes12301300' data-start="12:30" data-end="13:00" style="border-style: none"></li>
                        <li class="single-event" id='Martes13001330' data-start="13:00" data-end="13:30" style="border-style: none"></li>
                        <li class="single-event" id='Martes13301400' data-start="13:30" data-end="14:00" style="border-style: none"></li>
                        <li class="single-event" id='Martes14001430' data-start="14:00" data-end="14:30" style="border-style: none"></li>
                        <li class="single-event" id='Martes14301500' data-start="14:30" data-end="15:00" style="border-style: none"></li>
                        <li class="single-event" id='Martes15001530' data-start="15:00" data-end="15:30" style="border-style: none"></li>
                        <li class="single-event" id='Martes15301600' data-start="15:30" data-end="16:00" style="border-style: none"></li>
                        <li class="single-event" id='Martes16001630' data-start="16:00" data-end="16:30" style="border-style: none"></li>
                        <li class="single-event" id='Martes16301700' data-start="16:30" data-end="17:00" style="border-style: none"></li>
                        <li class="single-event" id='Martes17001730' data-start="17:00" data-end="17:30" style="border-style: none"></li>
                        <li class="single-event" id='Martes17301800' data-start="17:30" data-end="18:00" style="border-style: none"></li>
                    </ul>
                </li>

                <li class="events-group">
                    <div class="top-info"><span>Miércoles</span></div>

                    <ul id="Miercoles">
                        {% for r in reservations.2 %}

                        <li class="single-event" data-start="{{r.1}}" data-end="{{r.2}}" bgcolor="{{r.3}}" >
                            <a href="">
                                <em class="event-name">{{r.0}}</em>
                            </a>
                        </li>

                        {% endfor%}

                        <li class="single-event" id='Miercoles09000930' data-start="09:00" data-end="09:30" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles09301000' data-start="09:30" data-end="10:00" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles10001030' data-start="10:00" data-end="10:30" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles10301100' data-start="10:30" data-end="11:00" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles11001130' data-start="11:00" data-end="11:30" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles11301200' data-start="11:30" data-end="12:00" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles12001230' data-start="12:00" data-end="12:30" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles12301300' data-start="12:30" data-end="13:00" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles13001330' data-start="13:00" data-end="13:30" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles13301400' data-start="13:30" data-end="14:00" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles14001430' data-start="14:00" data-end="14:30" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles14301500' data-start="14:30" data-end="15:00" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles15001530' data-start="15:00" data-end="15:30" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles15301600' data-start="15:30" data-end="16:00" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles16001630' data-start="16:00" data-end="16:30" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles16301700' data-start="16:30" data-end="17:00" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles17001730' data-start="17:00" data-end="17:30" style="border-style: none"></li>
                        <li class="single-event" id='Miercoles17301800' data-start="17:30" data-end="18:00" style="border-style: none"></li>
                    </ul>
                </li>

                <li class="events-group">
                    <div class="top-info"><span>Jueves</span></div>

                    <ul id="Jueves">
                        {% for r in reservations.3 %}

                        <li class="single-event" data-start="{{r.1}}" data-end="{{r.2}}"  bgcolor="{{r.3}}">
                            <a href="">
                                <em class="event-name">{{r.0}}</em>
                            </a>
                        </li>

                        {% endfor%}

                        <li class="single-event" id='Jueves09000930' data-start="09:00" data-end="09:30" style="border-style: none"></li>
                        <li class="single-event" id='Jueves09301000' data-start="09:30" data-end="10:00" style="border-style: none"></li>
                        <li class="single-event" id='Jueves10001030' data-start="10:00" data-end="10:30" style="border-style: none"></li>
                        <li class="single-event" id='Jueves10301100' data-start="10:30" data-end="11:00" style="border-style: none"></li>
                        <li class="single-event" id='Jueves11001130' data-start="11:00" data-end="11:30" style="border-style: none"></li>
                        <li class="single-event" id='Jueves11301200' data-start="11:30" data-end="12:00" style="border-style: none"></li>
                        <li class="single-event" id='Jueves12001230' data-start="12:00" data-end="12:30" style="border-style: none"></li>
                        <li class="single-event" id='Jueves12301300' data-start="12:30" data-end="13:00" style="border-style: none"></li>
                        <li class="single-event" id='Jueves13001330' data-start="13:00" data-end="13:30" style="border-style: none"></li>
                        <li class="single-event" id='Jueves13301400' data-start="13:30" data-end="14:00" style="border-style: none"></li>
                        <li class="single-event" id='Jueves14001430' data-start="14:00" data-end="14:30" style="border-style: none"></li>
                        <li class="single-event" id='Jueves14301500' data-start="14:30" data-end="15:00" style="border-style: none"></li>
                        <li class="single-event" id='Jueves15001530' data-start="15:00" data-end="15:30" style="border-style: none"></li>
                        <li class="single-event" id='Jueves15301600' data-start="15:30" data-end="16:00" style="border-style: none"></li>
                        <li class="single-event" id='Jueves16001630' data-start="16:00" data-end="16:30" style="border-style: none"></li>
                        <li class="single-event" id='Jueves16301700' data-start="16:30" data-end="17:00" style="border-style: none"></li>
                        <li class="single-event" id='Jueves17001730' data-start="17:00" data-end="17:30" style="border-style: none"></li>
                        <li class="single-event" id='Jueves17301800' data-start="17:30" data-end="18:00" style="border-style: none"></li>
                    </ul>
                </li>

                <li class="events-group">
                    <div class="top-info"><span>Viernes</span></div>

                    <ul id="Viernes">
                        {% for r in reservations.4 %}

                        <li class="single-event" data-start="{{r.1}}" data-end="{{r.2}}" bgcolor="{{r.3}}">
                            <a href="">
                                <em class="event-name">{{r.0}}</em>
                            </a>
                        </li>

                        {% endfor%}

                        <li class="single-event" id='Viernes09000930' data-start="09:00" data-end="09:30" style="border-style: none"></li>
                        <li class="single-event" id='Viernes09301000' data-start="09:30" data-end="10:00" style="border-style: none"></li>
                        <li class="single-event" id='Viernes10001030' data-start="10:00" data-end="10:30" style="border-style: none"></li>
                        <li class="single-event" id='Viernes10301100' data-start="10:30" data-end="11:00" style="border-style: none"></li>
                        <li class="single-event" id='Viernes11001130' data-start="11:00" data-end="11:30" style="border-style: none"></li>
                        <li class="single-event" id='Viernes11301200' data-start="11:30" data-end="12:00" style="border-style: none"></li>
                        <li class="single-event" id='Viernes12001230' data-start="12:00" data-end="12:30" style="border-style: none"></li>
                        <li class="single-event" id='Viernes12301300' data-start="12:30" data-end="13:00" style="border-style: none"></li>
                        <li class="single-event" id='Viernes13001330' data-start="13:00" data-end="13:30" style="border-style: none"></li>
                        <li class="single-event" id='Viernes13301400' data-start="13:30" data-end="14:00" style="border-style: none"></li>
                        <li class="single-event" id='Viernes14001430' data-start="14:00" data-end="14:30" style="border-style: none"></li>
                        <li class="single-event" id='Viernes14301500' data-start="14:30" data-end="15:00" style="border-style: none"></li>
                        <li class="single-event" id='Viernes15001530' data-start="15:00" data-end="15:30" style="border-style: none"></li>
                        <li class="single-event" id='Viernes15301600' data-start="15:30" data-end="16:00" style="border-style: none"></li>
                        <li class="single-event" id='Viernes16001630' data-start="16:00" data-end="16:30" style="border-style: none"></li>
                        <li class="single-event" id='Viernes16301700' data-start="16:30" data-end="17:00" style="border-style: none"></li>
                        <li class="single-event" id='Viernes17001730' data-start="17:00" data-end="17:30" style="border-style: none"></li>
                        <li class="single-event" id='Viernes17301800' data-start="17:30" data-end="18:00" style="border-style: none"></li>
                    </ul>
                </li>
            </ul>
        </form>
	</div>



	<div class="week-select" id="week-select">
		<div style="text-align: center; margin-right: auto; margin-left: auto; width: 200px; font-size: 18px">
			<form action="" method="get" class="selectform">
				<a href="?date={{controls.0}}" role="button"><i class="fas fa-angle-double-left"></i></a>
			</form>
			<form action="" method="get" class="selectform">
				<a href="?date={{controls.1}}" role="button"><i class="fas fa-angle-left"></i></a>
			</form>
			<form action="" method="get" class="selectform">
				<a href="?date={{controls.2}}" role="button"><i class="fas fa-angle-right"></i></a>
			</form>
			<form action="" method="get" class="selectform">
				<a href="?date={{controls.3}}" role="button"><i class="fas fa-angle-double-right"></i></a>
			</form>
		</div>
	</div>
	<div class="event-modal">
		<header class="header">
			<div class="content">
				<span class="event-date"></span>
				<h3 class="event-name"></h3>
			</div>

			<div class="header-bg"></div>
		</header>

		<div class="body">
			<div class="event-info"></div>
			<div class="body-bg"></div>
		</div>

		<a href="#0" class="close">Close</a>
	</div>

	<div class="cover-layer"></div>
</div> <!-- .cd-schedule -->
<!-- Modificar boton para que filtre reservas por horario seleccionado usar ID para obtener hora de inicio y fin -->
