{% extends 'application_layout.html' %}

{% block title %}
    Sistema de Reserva CEI - Ver Espacios
{% endblock %}

{% block body %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4" style="text-align: center;">
            <div style="margin:0; padding:0; width: auto;" class="btn-group" role="group" aria-label="Basic example">
                <a href="{% url 'landing_articles' %}"
                   class="btn btn-light" role="button"
                   aria-disabled="false">
                    Artículos
                </a>
                <a href="" class="btn btn-success disabled" role="button" aria-disabled="true">
                    Espacios
                </a>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row" style="margin-top: 2em;">
        <div class="col-6 offset-3 schedule-current-week" style="text-align: center;">
          <div class="alert alert-info">
            <p>Estás viendo la semana del lunes <b>{{ actual_monday }}</b></p>
          </div>
        </div>
    </div>
    {% include '_schedule_landing.html' %}
</div>
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
    <script>
        $('#Click').click(function () {

            $(this).toggleClass('clicked');

        });
    </script>
    <script>
        $('#Click1').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click6').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click7').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click8').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click9').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click10').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click11').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click12').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click13').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click14').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click15').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click16').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click17').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>

    <!-- Martes -->
    <script>
        $('#Click0-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click1-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click2-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click3-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click4-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click5-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click6-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click7-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click8-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click9-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click10-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click11-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click12-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click13-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click14-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click15-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click16-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click17-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>

    <!-- Miercoles -->
    <script>
        $('#Click0-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click1-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click2-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click3-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click4-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click5-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click6-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click7-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click8-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click9-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click10-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click11-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click12-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click13-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click14-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click15-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click16-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click17-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>

    <!-- Jueves -->
    <script>
        $('#Click0-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click1-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click2-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click3-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click4-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click5-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click6-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click7-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click8-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click9-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click10-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click11-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click12-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click13-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click14-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click15-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click16-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click17-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>

    <!-- Viernes -->
    <script>
        $('#Click0-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click1-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click2-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click3-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click4-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click5-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click6-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click7-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click8-5').click(function () {

           $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click9-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click10-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click11-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click12-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click13-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click14-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click15-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click16-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click17-5').click(function () {
            $(this).toggleClass('clicked');
        });
    </script>
{% endblock %}