{% extends 'application_layout.html' %}

{% block title %}
    Sistema de Reserva CEI - Ver Espacios
{% endblock %}

{% block body %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4" style="text-align: center;">
            <div style="margin:0; padding:0; width: auto;" class="btn-group" role="group" aria-label="Basic example">
                <a href="{% url 'landing_articles' %}"
                   class="btn btn-light" role="button"
                   aria-disabled="false">
                    Artículos
                </a>
                <a href="" class="btn btn-success disabled" role="button" aria-disabled="true">
                    Espacio
                </a>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row" style="margin-top: 2em;">
        <div class="col-6 offset-3 schedule-current-week" style="text-align: center;">
          <div class="alert alert-info">
            <p>Estás viendo la semana del lunes <b>{{ actual_monday }}</b></p>
          </div>
        </div>
    </div>
    {% include '_schedule_landing.html' %}
</div>

<div class="container">

    <form action="{% url 'reservaEspacio' %}" align="middle" method="post">
        {% csrf_token %}
        <input type="datetime-local" name="t_inicio" id="t_inicio" required="true">
        <input type="datetime-local" name="t_final" id="t_final" required="true">
        <button type="submit" id="resButton" class="btn btn-info btn-lg" >Reservar</button>
    </form>

    <!--Boton que ejecuta el modal correspondiente -->
    <button type="button" id="boton" class="btn" data-toggle="modal" data-target={{modal}}></button>

    <!-- Modal reserva a menos de una hora-->
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Reserva Espacio</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h6>Para reservar cualquier espacio debe hacerlo con al menos una hora de anticipación</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal reserva a menos de 24 horas-->
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Reserva Espacio</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="{% url 'crearReserva' %}" align="middle" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <h6>Que espacio desea reservar?</h6>
                        <input type="hidden" name='ini_time' value={{initial_datetime}}>
                        <input type="hidden" name='fin_time' value={{final_datetime}}>
                        <div class="row" style="padding-left: 35%; margin-top: 5%">
                            <select name="espacio" id="espacio">{% for spaceOpt in spaceOptions %}
                                <option value={{spaceOpt.id}}>{{ spaceOpt.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <h6 style="margin-top: 5%">*Recuerde que para reservar el quincho lo debe hacer con al menos 24 horas de anticipacion.</h6>
                    </div>
                    <div class="modal-footer">
                            <button type="submit" class="btn btn-info">Reservar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>





{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <script type="text/javascript">
        if({{modalState}}){
            document.getElementById("boton").click();
        }
    </script>
    {% load static %}
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
    <script>
        $('#Click').click(function () {

            $(this).toggleClass('clicked');

        });
    </script>
    <script>
        $('#Click1').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click6').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click7').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click8').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click9').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click10').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click11').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click12').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click13').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click14').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click15').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click16').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click17').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>

    <!-- Martes -->
    <script>
        $('#Click0-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click1-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click2-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click3-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click4-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click5-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click6-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click7-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click8-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click9-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click10-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click11-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click12-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click13-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click14-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click15-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click16-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click17-2').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>

    <!-- Miercoles -->
    <script>
        $('#Click0-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click1-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click2-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click3-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click4-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click5-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click6-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click7-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click8-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click9-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click10-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click11-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click12-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click13-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click14-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click15-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click16-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click17-3').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>

    <!-- Jueves -->
    <script>
        $('#Click0-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click1-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click2-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click3-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click4-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click5-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click6-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click7-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click8-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click9-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click10-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click11-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click12-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click13-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click14-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click15-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click16-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click17-4').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>

    <!-- Viernes -->
    <script>
        $('#Click0-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click1-5').click(function () {$(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click2-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click3-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click4-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click5-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click6-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click7-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click8-5').click(function () {

           $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click9-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click10-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click11-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click12-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click13-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click14-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click15-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click16-5').click(function () {

            $(this).toggleClass('clicked');
        });
    </script>
    <script>
        $('#Click17-5').click(function () {
            $(this).toggleClass('clicked');
        });
    </script>
{% endblock %}